<!DOCTYPE html>
<head>
    <title>Simple realtime chatroom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div style="width: 40%; display: inline;">
        <div class="title">
            <h3><%=room.roomName%></h3>
        </div>
       
        <div class="card" style="background-color: black; color:aquamarine; font-weight: bolder; font-size: larger;">
            <h3 class="card-header"><%=userName%></h3>
        </div>
       
        <div class="message-box" >   
            <div class="card" style="background: url('/assets/img/doodle.jpg'); color: aliceblue; font-weight: bold; font-size: large;">
                <ul class="list-group list-group-flush" id="message-list" style="margin-left: 30px;"></ul>
                <div class="info" style="background-color:transparent;"></div>
            </div>
            
            <div class="card-footer " style="background-color: black;">
                <div class="input-group" style="background-color: transparent;">
                    <input type="text" class="form-control" id="message" placeholder="Send new message" >
                    <div class="input-group-append" style="background-color:transparent;">
                        <button class="btn btn-success" type="button" id="messageBtn">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input id="userId" value="<%=userId%>" hidden/>
    <input id="roomId" value="<%=roomId%>" hidden/>
    <input id="userName" value="<%=userName%>" hidden/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->    
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <script src="/assets/js/chatroom.js"></script>
</body>
</html>