<!DOCTYPE html>
<head>
    <title>Simple realtime chatroom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/assets/canvas.css" />
    <link rel="stylesheet" href="/assets/css/chat.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/webrtc.js"></script>
    <script src="/assets/js/canvas.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body style="background-color: black;">
  <canvas id="drawing" style="width: 100%; height: 100vh; display: none;"> </canvas>
  <div style="height: 8vh; width: 100vw; text-align: center;background-color: #323232; border-radius: 0 0 20px 20px;">
<h1 style="display:inline; margin: 0; font-size: 35px; color: #ff1e56;padding-top: 10px;font-family: 'Montserrat', sans-serif;">Cubicle - <%=room.roomName%></h1>
<button type="button" id="deleteJam"
        class="btn" style="display: none;position: absolute; left:65%; top: 5px; background-color: #ff1e56;" "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></button>

<button type="button" id="openJamButton"
        class="btn" style="position: absolute; left:70%; top: 5px; background-color: #ffac41;" onclick="openJam()">Open Jam</button>
        <button type="button" id="closeJamButton"
        class="btn" style="display: none; position: absolute; left:70%; top: 5px; background-color: #ffac41;" onclick="closeJam()">Close Jam</button>
<form action="/room/hall" method="GET"><button type="submit" 
        class="btn" style="position: absolute; left:85%; top: 5px; background-color: #ff1e56;">Leave Room</button></form>

  </div>
  <div class="row " style="height: 80vh; width: 100vw;margin: 0;">
    <div class="col-md-6" style="background-color: black;">
      <button
        type="button"
        class="btn"
        id="startCall"
        onclick="startCall()"
        style="margin-left:30%;width: 40%;font-size: 26px;margin-top: 40%;"
        
      >
        <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-telephone-outbound-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
</svg> Start Call
      </button>
      <div id="videos" class="row" style="--bs-gutter-x:0; display: none;">
        <div id="localVideoContainer" class="col-6" style="background-color: black; height: 40vh;">
        <video id="localVideo" autoplay muted </video></div>
      </div>
      <footer id="footer1" class="footer1" style="display: none;">
      <button
        type="button"
        class="btn"
        id="mic"
        onclick="togglemic()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-mic-fill"
          viewBox="0 0 16 16"
        >
          <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
          <path
            fill-rule="evenodd"
            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"
          />
        </svg></button
      >
      <button
        type="button"
        class="btn"
        id="stopCall"
        onclick="stopConnection()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telephone-x-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
</svg>
      </button>
      <button
        type="button"
        class="btn"
        id="video"
        onclick="togglevideo()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-camera-video-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"
          />
        </svg>
      </button>
      
    </footer>
    </div>
    
    <div class="col-md-6" style="background-color: black;">

      <div class="card" style="background-color: #ff1e56; color:#ffac41; font-weight: bold; font-size: larger; text-align: center; height: 7vh;">
            <h3 class="card-header" style="font-family: 'Montserrat', sans-serif;">Chat Box</h3>
        </div>
  
        <div class="message-box " >   
            <div id="scrollDiv" class="card overflow-auto" style="height: 75vh;background: url('/assets/img/doodle.jpg'); color: aliceblue; font-weight: bold; font-size: large;">
                <ul class="list-group list-group-flush" id="message-list" style="margin-left: 30px;">
    
                </ul>
                <div class="info" style="background-color: rgba(0, 0, 0, 0.6) !important; padding-left: 20px;"></div>
            </div>
            
            <div class="card-footer " style="background-color: black;height: 10vh; border:0;">
                <div class="input-group" style="background-color: transparent;">
                    <input type="text" class="form-control" id="message" placeholder="Send new message..." >
                    <div class="input-group-append" style="background-color:transparent;">
                        <button class="btn btn-success" type="button" id="messageBtn" style="background-color: #ff1e56; border:0; color: white;">Send</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <button type="button" class="btn btn-circle btn-sm" id="scrollBtn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
</svg></button>
      
  </div>
    <!-- <div class="container" style="">
    <div class="col-md-6" style="">
        <div class="title">
            <h3><%=room.roomName%></h3>
        </div>
       
        <div class="card" style="background-color: black; color:aquamarine; font-weight: bolder; font-size: larger;">
            <h3 class="card-header"><%=userName%></h3>
        </div>
       
        <div class="message-box overflow-auto" style="height: 400px;">   
            <div class="card" style="background: url('/assets/img/doodle.jpg'); color: aliceblue; font-weight: bold; font-size: large;">
                <ul class="list-group list-group-flush" id="message-list" style="margin-left: 30px;"></ul>
                <div class="info" style="background-color:transparent;"></div>
            </div>
            
            <div class="card-footer " style="background-color: black;">
                <div class="input-group" style="background-color: transparent;">
                    <input type="text" class="form-control" id="message" placeholder="Send new message" >
                    <div class="input-group-append" style="background-color:transparent;">
                        <button class="btn btn-success" type="button" id="messageBtn">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="videos" class="videos col-md-6" style="">
      <h3 style="margin:0px;text-align: center;"><%=room.roomName%></h1>
      <div id="localVideoContainer" class="videoContainer">
        <video id="localVideo" autoplay muted></video>
      </div> -->

      <!-- Remote videos get appended here -->
    <!-- </div>
    <footer class="footer">
      <button
        type="button"
        class="btn btn-primary"
        id="mic"
        onclick="togglemic()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-mic-fill"
          viewBox="0 0 16 16"
        >
          <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
          <path
            fill-rule="evenodd"
            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"
          />
        </svg></button
      ><button
        type="button"
        class="btn btn-primary"
        id="video"
        onclick="togglevideo()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-camera-video-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"
          />
        </svg>
      </button>
    </footer>
    </div> -->
    <input id="userId" value="<%=userId%>" hidden/>
    <input id="roomId" value="<%=roomId%>" hidden/>
    <input id="userName" value="<%=userName%>" hidden/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->    
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <script src="/assets/js/chatroom.js"></script>
    <input id="roomName" value="<%=room.roomName%>" hidden />
    <input id="roomId" value="<%=room._id%>" hidden />
    <input id="userId" value="<%=user._id%>" hidden />
    <input id="userName" value="<%=user.name%>" hidden />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <!-- <script type="text/javascript">
      start();
    </script> -->
</body>
</html>